DOCS_CAA_REGISTRY_API_BASE_URL=https://caa-registry-api.example.com
ZITADEL_DOMAIN=https://zitadel.example.com
PROJECT_ID=000000000000000000
KEY_FILE=./service-user-key.json
API_BASE_URL=https://api.example.com
API_TEST_PATH=/protected-endpoint
